/* CSS Document */
body{
	 word-break:break-all;margin:0px; padding:0px; font-size:14px; font-family:Microsoft YaHei, Arial, Helvetica, sans-serif; line-height:30px; color:#000;
}
p{
	margin:0px;
}
img{
	border:0px;
}
input{
	margin:0px; padding:0px; outline:none; border:0px;
}
form{
	margin:0px; padding:0px;
}
.formbt{
	width:900px; height:32px; padding:0px 0px 10px 38px; margin:0px;
}
.formtextarea{
	width:870px; height:320px; padding:0px 30px 0px 38px; margin:0px;
}
.font_red{
	color:#fe0000; font-family:Arial;
}
.fontred{
	color:#F00; margin-right:20px; margin-left:10px;
}
.font_green{
	color:#18aa00;
}
.font_defen{
	color:#c80011;
}
.font04{
	color:#ce3e00;
}
.font05{
	color:#2564a9;
}
.font06{
	color:#549f3b;
}
.font07{
	color:#0f9500;
}
.font08{
	color:#ccc;
}
.font09{
	color:#999;
}

/*a:hover{
	color:#fff; text-decoration:none;
}*/


/*pagetop start*/
.ver_top{
	width:auto; height:30px; background:#4a585d; margin:0px; padding:0px;
}
.ver_top_content{
	width:1000px; margin:0px auto; padding:0px; clear:both; font-size:12px;
}
.ver_top_left{
	width:700px; height:30px; line-height:28px; float:left; color:#ddeaee;
}
.ver_top_left a{
	color:#ddeaee; text-decoration:none;
}
.ver_top_left a:hover{
	color:#fff; text-decoration:none;
}
.ver_top_right{
	width:300px; height:30px; float:right; text-align:right;
}

.search{
	width:260px; height:23px; margin:3px 0px 0px 0px; float:right;
}
/*
.searchinput{
	border:0px; width:170px; height:23px; background:none; margin:0px; padding:2px 0px 0px 10px; color:#e2e2e2; float:left;
}
.searchbutton{
	width:20px; height:20px; border:0px; background:url(icon.png) no-repeat -210px 0px; margin:2px 0px 0px 0px; padding:0px; float:left; cursor:pointer;
}
*/
/*searchbox*/
.box{
	width:260px; height:23px; position:relative;
}
.searchcontainer{
	padding:0px; width:260px; height:23px; position:absolute; top:0px; left:0px; background:url(bg01.png) no-repeat;
}
.searchselect{
	width:60px; position:absolute; height:23px; top:0px; left:0px;
}
.searchselect span{
	height:23px; width:50px; color:#ededed; line-height:23px; position:absolute; left:10px; display:block; text-align:left; padding-left:5px;
}
.searchselect a.searchselectbtn{
	height:23px; background:url(bg02.gif) no-repeat 0px 9px; width:10px; position:absolute; left:45px;
}
.searchcontainer input{
	padding:0px 4px; width:155px; line-height:20px; height:20px; position:absolute; left:68px; background:none; border:0px; margin:0px; color:#ededed;
}
.searchbtn{
	width:30px; height:23px; position:absolute; left:210px;
}
.searchselect ul{
	display:none; width:56px; position:absolute; left:4px; top:21px; margin:0px; padding:0px; list-style:none;
}
.searchselect ul li{
	width:56px; height:23px; text-align:center; background:#7c8e94; float:left;
}
.searchselect ul li a{
	width:54px; height:23px; border-right:#708085 1px solid; border-left:#708085 1px solid; color:#ededed; line-height:23px; display:block; margin:0px;
}
.searchselect ul li a:hover{
	width:54px; height:23px; border-right:#708085 1px solid; border-left:#708085 1px solid; color:#ededed; line-height:23px; display:block; margin:0px; text-decoration:underline; cursor:pointer;
}
.searchselect ul li.lasta{
	background:url(bg03.gif) no-repeat; overflow:hidden; width:56px; height:5px;
}
/*searchbox end*/

.top{
	width:auto; height:100px; background:#6ec0b4 url(topbg.jpg) top repeat-x;
}
.top_content{
	width:1000px; height:100px; margin:0px auto; padding:0px;
}
.top .logo{
	width:400px; height:75px; float:left; padding-top:22px;
}
.top .menu{
	width:245px; height:80px; float:right; padding-top:20px;
}
.top .menu ul{
	margin:0px; padding:0px; list-style:none;
}
.menu ul li{
	margin:0px; padding:0px; float:left; display:block; width:65px; height:65px; cursor:pointer;
}
.menu ul li a.xx{
	background:url(icon.png) 0px -28px no-repeat; display:block; width:65px; height:65px;
}
.menu ul li a.xx:hover,.menu ul li.sel a.xx{
	background:url(icon.png) 0px -97px no-repeat;
}
.menu ul li a.ks{
	background:url(icon.png) -79px -28px no-repeat; display:block; width:65px; height:65px;
}
.menu ul li a.ks:hover,.menu ul li.sel a.ks{
	background:url(icon.png) -79px -97px no-repeat;

}
.menu ul li a.px{
	background:url(icon.png) -157px -28px no-repeat; display:block; width:65px; height:65px;
}
.menu ul li a.px:hover,.menu ul li.sel a.px{
	background:url(icon.png) -157px -97px no-repeat;
}
.menu ul li a.zs{
	background:url(icon.png) -238px -28px no-repeat; display:block; width:65px; height:65px;
}
.menu ul li a.zs:hover,.menu ul li.sel a.zs{
	background:url(icon.png) -238px -97px no-repeat;
}
.menu ul li.space{
	margin:0px; padding:0px; display:block; width:24px; height:65px; cursor:auto;
}
/*pagetop end*/


/*pagecontent start*/
.ks_container{
	width:938px; height:auto; margin:25px auto 30px auto; padding:30px; border:1px #dadbdd solid; background:#FFF;
}
.ks_container .title{
	width:938px; height:40px; line-height:40px; text-align:center; font-size:24px;
}

.explain{
	width:896px; height:auto; background:#fffeee; border:1px #dfc585 solid; margin:30px 0px 0px 0px; padding:10px 20px 15px 20px;
}
.explain_title{
	font-size:16px; color:#cb5100; text-align:left; line-height:32px;
}
.explain_txt{
	font-size:14px; color:#cb5100; width:866px; height:auto; padding:0px 20px; line-height:24px; word-break:break-all;
}

.time{
	width:938px; height:44px; margin:0px; padding:20px 0px; clear:both; 
}
.time_left{
	width:780px; height:24px; line-height:24px; margin:10px 0px; float:left; padding:0px;
}
span.timefont{
	font-size:24px; font-weight:bold; font-family:Arial; color:#484c53; display:block; width:100px; height:24px; padding:0px 10px 0px 35px; float:left; background:url(icon.png) -242px 0px no-repeat;
}
.time_right{
	width:150px; height:44px; float:right; margin:0px; padding:0px;
}
.time_right .jiaojuan{
	background:url(icon.png) 0px -173px no-repeat; width:149px; height:44px; border:0px; cursor:pointer;
}
.time_right .jiaojuan:hover{
	background:url(icon.png) -151px -173px no-repeat; width:149px; height:44px; border:0px; cursor:pointer;
}

.test_title{
	width:920px; height:42px; line-height:42px; border:1px #a9d3b0 solid; background:#c6eacc; padding-left:18px;
}
.test_content{
	width:938px; height:auto; padding-top:20px; clear:both;
}
.con{
	width:938px; height:auto; border-left:1px #d2d2d2 solid; border-right:1px #d2d2d2 solid;
}
.test_test{
	width:833px; height:auto; float:left; padding-left:35px;
}
.test_test p.test_bt{
	background:url(pen.png) no-repeat 0px 5px; padding-left:25px; line-height:32px;
}
span.underline{
	text-decoration:underline;
}
p.select{
	padding-left:35px; line-height:30px; background:url(radio.png) no-repeat 3px 8px; cursor:pointer; margin-left:24px;
}
p.select1{
	padding-left:35px; line-height:30px; background:url(right1.png) no-repeat 0px 0px; cursor:pointer; margin-left:24px;
}
p.select2{
	padding-left:35px; line-height:30px; background:url(checkbox.png) no-repeat 3px 8px; cursor:pointer; margin-left:24px;
}
p.select3{
	padding-left:35px; line-height:30px; background:url(right2.png) no-repeat 1px 1px; cursor:pointer; margin-left:24px;
}
p.select01{
	line-height:30px; margin-left:30px;
}
p.select01 img{
	vertical-align:middle; margin-right:10px;
}
.selradio{
	margin-right:10px;
}
.test_mark{
	width:70px; height:27px; float:right;
}
.test_mark a{
	width:70px; height:27px; background:url(icon.png) no-repeat 0px -228px; cursor:pointer; display:block;
}
.test_mark a:hover{
	width:70px; height:27px; border:0px; background:url(icon.png) no-repeat 0px -258px; cursor:pointer; display:block;
}
.test_mark a.quxiao{
	width:70px; height:27px; background:url(icon.png) no-repeat 0px -599px; cursor:pointer; display:block;
}
.test_button{
	margin:0px auto; padding:35px 0px 0px 0px; background:#f6f6f6; text-align:center; height:85px; width:938px; border-bottom:1px #d2d2d2 solid; clear:both;
}
.last{
	width:129px; height:44px; background:url(icon.png) no-repeat 0px -293px; border:0px; cursor:pointer; margin-right:60px;
}
.last:hover{
	width:129px; height:44px; background:url(icon.png) no-repeat 0px -342px; border:0px; cursor:pointer; margin-right:60px;
}
.next{
	width:130px; height:44px; background:url(icon.png) no-repeat -170px -293px; border:0px; cursor:pointer;
}
.next:hover{
	width:130px; height:44px; background:url(icon.png) no-repeat -170px -342px; border:0px; cursor:pointer;
}
.lastgrey{
	width:129px; height:44px; background:url(lastgreybg.png) no-repeat; border:0px; cursor:pointer; margin-right:60px;
}
.nextgrey{
	width:130px; height:44px; background:url(nextgreybg.png) no-repeat; border:0px; cursor:pointer;
}
.test_foot{
	width:938px; height:auto; margin:0px auto; padding:0px; overflow:auto;
}
p.test_foot_tip{
	background:url(icon.png) no-repeat -77px -258px;
}
p span.number_grey{
	width:25px; height:25px; border:1px #ccc solid; display:block; float:left; margin-right:8px; margin-bottom:8px; cursor:pointer; text-align:center; line-height:25px;
}
p span.number_blue{
	width:25px; height:25px; border:1px #90bcdc solid; display:block; float:left; margin-right:8px; margin-bottom:8px; cursor:pointer; text-align:center; line-height:25px; background:#e1f4ff;
}
p span.number_yelow{
	width:25px; height:25px; border:1px #f1c700 solid; display:block; float:left; margin-right:8px; margin-bottom:8px; cursor:pointer; text-align:center; line-height:25px; background:#fff4b7;
}
p span.number_flags{
	background:url(icon.png) no-repeat 2px -637px; width:25px; height:25px; border:1px #ffd6ca solid; display:block; float:left; margin-right:8px; margin-bottom:8px; cursor:pointer; text-align:center; line-height:25px;
}
input.grey{
	width:25px; height:25px; border:1px #ccc solid; float:left; margin-right:8px; margin-bottom:8px; cursor:pointer; text-align:center; line-height:25px; background:#fff;
}
input.number_flags{
	background:url(icon.png) no-repeat 2px -637px; width:25px; height:25px; border:1px #ffd6ca solid; display:block; float:left; margin-right:8px; margin-bottom:8px; cursor:pointer; text-align:center; line-height:25px;
}
input.number_grey{
	width:25px; height:25px; border:1px #ccc solid; display:block; float:left; margin-right:8px; margin-bottom:8px; cursor:pointer; text-align:center; line-height:25px;
}
input.number_blue{
	width:25px; height:25px; border:1px #90bcdc solid; display:block; float:left; margin-right:8px; margin-bottom:8px; cursor:pointer; text-align:center; line-height:25px; background:#e1f4ff;
}
input.number_yelow{
	width:25px; height:25px; border:1px #f1c700 solid; display:block; float:left; margin-right:8px; margin-bottom:8px; cursor:pointer; text-align:center; line-height:25px; background:#fff4b7;
}
/*p span.number_red{
	width:25px; height:25px; border:1px #ff8036 solid; display:block; float:left; margin-right:8px; margin-bottom:8px; cursor:pointer; text-align:center; line-height:25px; background:#ffd6ca;
}
*/
/*pagecontent end*/



/*score page start*/
.ks_container .subtitle{
	width:938px; height:32px; line-height:32px; text-align:center; font-size:14px; margin-bottom:15px;
}
.subtitle span.r_distance{
	margin-right:25px;
}
.score{
	width:938px; height:auto; min-height:1000px; margin:0px; padding:0px; position:relative; overflow:auto;
}
.score_left{
	width:694px; height:auto; border:1px #d4d4d4 solid; float:left;
}
.score_right{
	width:241px; height:382px; position:absolute; top:0px; left:695px; border:1px #a9d3b0 solid; overflow:hidden;
}
.fenshulist{
	width:240px; height:34px; line-height:34px; background:url(dottedlinebg.png) repeat-x bottom;
}
.fenshulist:hover,.fenshulistsel{
	width:240px; height:34px; line-height:34px; background:#f3f3f3 url(dottedlinebg.png) repeat-x bottom; cursor:pointer;
}
.scoreblock{
	width:694px; height:auto; margin:0px; padding:0px;
}
.scoretest{
	width:654px; margin:0px; padding:15px 15px 15px 25px;
}
.scoretest p.test_bt{
	background:url(pen.png) no-repeat 0px 5px; padding-left:25px;
}
.analytical{
	width:670px; height:auto; border-top:1px #d2d2d2 dotted; background:#eaf9ec; padding-left:24px;
}
.analyticalup{
	width:670px; height:40px; line-height:40px; font-size:12px; clear:both;
}
.analyticalup .yesno{
	width:370px; height:40px; float:left;
}
.analyticalup .yesnor{
	width:300px; height:40px; float:right; color:#6a6a6a;
}
a.report{
	color:#1785a6; text-decoration:none;
}
a.report:hover{
	color:#F30; text-decoration:underline;
}
.analyticaldown{
	width:660px; height:auto; min-height:40px; line-height:24px; font-size:12px; padding-bottom:10px; color:#535353;
}
.score_right table{
	background:#f6f6f6;	
}
.score_right table td{
	line-height:34px; background:url(dottedlinebg.png) repeat-x bottom; text-align:center;
}
.score_right table td.scbt{
	line-height:42px; font-weight:bold; background:#c6eacc;
}
.score_right .srbt{
	width:241px; height:32px; line-height:32px; background:#c6eacc;
}
span.srbtelm{
	font-size:14px; font-weight:bold; text-align:center; width:60px; height:32px; text-align:center; display:block; float:left;
}
.score_right .srcon{
	width:241px; height:350px; overflow:scroll; overflow-x:hidden;
}
.srbtelm input{
	background:url(numberbg.png) no-repeat center center; color:#FFF; padding:0px; border:0px; width:27px; height:34px; text-align:center; line-height:34px; cursor:pointer;
}
.srbtelm img{
	margin-top:11px;
}
.srbtelm_num{
	font-size:14px; text-align:center; width:60px; height:32px; text-align:center; display:block; float:left;
}
.srbtelm_df{
	font-size:14px; text-align:center; width:60px; height:32px; text-align:center; display:block; float:left; color:#c80011;
}
.tihao{
	background:url(numberbg.png) no-repeat center center; color:#FFF; margin:0px 50px 0px 10px; cursor:pointer; padding:0px; border:0px; width:27px; height:34px; text-align:center; line-height:34px;
}

/*score page end*/

/*hand in*/
.handinouter{
	border:1px #999 solid; width:370px; height:280px; padding:10px; background:#999; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity:0.5; opacity:0.5; 
}
.handincon{
	margin:0px; width:370px; height:280px; background:#FFF; position:absolute;
}
.handinfont01{
	text-align:center; font-size:24px; color:#F00; margin-top:50px; margin-bottom:20px;
}
.handinfont02{
	text-align:center; font-size:18px;
}
.handinfont03{
	font-size:24px; color:#F00; font-weight:bold; margin:0px 10px;
}
.handinfont04{
	text-align:center; margin-top:40px;
}
.handinfont04 a{
	color:#900; text-decoration:none;
}
.handinfont04 a:hover{
	color:#C00; text-decoration:underline;
}

/*subject page*/
/*footer start*/
.footertopbg{
	width:auto; height:4px; background:url(footerbg.png) repeat-x; margin-top:20px; clear:both;
}
.footer{
	width:auto; height:116px; background:#3d3d3d; clear:both;
}
.footer_con{
	width:1000px; height:auto; text-align:center; color:#7c7c7c; padding-top:30px; margin:0px auto;
}
/*footer end*/
.exam_banner{
	width:auto; height:319px; margin:0px; padding:0px; background:url(banner.jpg) no-repeat top center;
}
.title_a{
	width:1000px; height:65px; margin:0px auto; padding:0px; clear:both;
}
.title_a_left{
	line-height:60px; font-size:22px; width:200px; height:60px; float:left;
}
.subcon{
	margin:0px auto 50px auto; padding:0px; width:1201px; height:452px; position:relative;
}
.subcbefore{
	width:100px; height:58px; position:absolute; top:0px; left:0px; margin:0px; padding:197px 0px 0px 0px;
}
.subcnext{
	width:58px; height:58px; position:absolute; top:0px; right:0px; margin:0px; padding:197px 0px 0px 42px;
}
a.butbefore{
	border:0px; margin:0px; padding:0px; width:57px; height:58px; background:url(before.png) no-repeat; cursor:pointer; display:block;
}
a.butbefore:hover{
	border:0px; margin:0px; padding:0px; width:57px; height:58px; background:url(beforehover.png) no-repeat; cursor:pointer; display:block;
}
a.butnext{
	border:0px; margin:0px; padding:0px; width:57px; height:58px; background:url(next.png) no-repeat; cursor:pointer; display:block;
}
a.butnext:hover{
	border:0px; margin:0px; padding:0px; width:57px; height:58px; background:url(nexthover.png) no-repeat; cursor:pointer; display:block;
}
.subconpic{
	width:1002px; height:453px; position:absolute; top:0px; left:100px; margin:0px; padding:0px; background:url(dotline.png) no-repeat;
}
.subconpic a{
	display:block; width:166px; height:150px; line-height:150px; text-align:center; float:left; margin-right:1px; margin-bottom:1px;
}
.subconpic a:hover{
	display:block; width:166px; height:150px; line-height:150px; text-align:center; float:left; margin-right:1px; margin-bottom:1px; background:#f2f2f2;
}
.subconpic a img{
	width:106px; height:90px; margin:30px;
}
/*
.subconpic{
	width:1001px; height:452px; position:absolute; top:0px; left:100px; margin:0px; padding:0px;
}
.subpiclist{
	width:1001px; height:150px;
}
.subpiclistbotline{
	border-bottom:1px #c4c4c4 dotted; width:1001px; height:1px;
}
.subpiclist a{
	display:block; width:166px; height:150px; line-height:150px; text-align:center; float:left; border-right:1px #c4c4c4 dotted;
}
.subpiclist a:hover{
	display:block; width:166px; height:150px; line-height:150px; text-align:center; float:left; border-right:1px #c4c4c4 dotted; background:#f9f9f9;
}
.subpiclist a.brn{
	display:block; width:166px; height:150px; line-height:150px; text-align:center; float:left; border-right:0px #c4c4c4 dotted;
}
.subpiclist a.brn:hover{
	display:block; width:166px; height:150px; line-height:150px; text-align:center; float:left; border-right:0px #c4c4c4 dotted; background:#f9f9f9;
}
*/


/*list page*/
.listtop{
	width:1000px; height:70px; padding-top:20px; margin:0px auto;
}
.listcon{
	width:812px; height:70px; float:left; padding:0px 2px;
}
.listcon a{
	width:96px; height:62px; float:left; display:block; overflow:hidden; cursor:pointer; margin:0px 20px 0px 0px; background:url(listsub1.png) no-repeat top center; padding:8px 0px 0px 0px; text-align:center; color:#248879;
}
.listcon a:hover,.listcon a.sel{
	width:96px; height:62px; float:left; display:block; overflow:hidden; cursor:pointer; margin:0px 20px 0px 0px; background:url(listsub2.png) no-repeat top center; padding:8px 0px 0px 0px; text-align:center; color:#248879;
}
.jz{
	width:80px; height:30px; display:block; overflow:hidden; margin:0px auto; text-align:center;
}
.listtop ul{
	list-style:none; margin:0px; padding:0px; float:left;
}
.listtop ul li{
	width:82px; height:70px; float:left; background:url(listsub.png) top center; text-align:center; font-size:20px; color:#008370; font-family:Arial; padding-top:20px; cursor:pointer; margin-right:20px; overflow:hidden;
}
.listtop ul li:hover,.listtop ul li.sel{
	width:82px; height:70px; float:left; background:url(listsubhover.png) top center; text-align:center; font-size:20px; color:#008370; font-family:Arial; padding-top:20px; cursor:pointer; margin-right:20px; overflow:hidden;
}
.listprev{
	width:82px; height:57px; background:url(listsub.png) top center; text-align:center; padding-top:13px; margin-right:20px; float:left;
}
.listprev a,.listnext a{
	cursor:pointer;
}
.listnext{
	width:77px; height:57px; background:url(listsub.png) top center; text-align:center; padding-top:13px; padding-left:5px; float:right;
}
.listtitle{
	width:1000px; height:32px; line-height:32px; margin:0px auto;
}
span.l{
	width:610px; height:32px; float:left; display:block; background:url(curbg.png) no-repeat left center; padding-left:30px;
}
span.r{
	width:360px; height:32px; float:right; text-align:right; display:block;
}
.listtable{
	width:978px; height:auto; min-height:500px; margin:0px auto; padding:10px; border:1px #dbdbdb solid; background:#fff;
}
.ltsearch{
	width:978px; height:40px;
}
.chaxun{
	width:350px; height:40px; float:left;
}
.xiala{
	width:420px; height:40px; float:right;
}
.cxinput{
	width:220px; height:26px; line-height:26px; border:1px #bebebe solid; padding-left:5px; margin-right:5px;
}
.cxbut{
	width:52px; height:28px; line-height:26px; border:1px #bebebe solid; background:url(butbg.jpg) repeat-x; text-align:center; cursor:pointer; font-family:Microsoft YaHei;
}
.cxbut:hover{
	width:52px; height:28px; line-height:26px; border:1px #bebebe solid; background:url(butbghover.jpg) repeat-x; text-align:center; cursor:pointer; font-family:Microsoft YaHei;
}
.uboxstyle,.macstyle,.tm2008style,.ustyle{
	width:86px; height:28px; margin:0px 5px 0px 0px; padding:0px; float:left;
}
div.tag_select{
	display:block; width:80px; height:28px; line-height:28px; background:url(xialaselbg.jpg) no-repeat; padding-left:6px;
}
div.tag_select_hover{
	display:block; ;width:80px; height:28px; line-height:28px; background:url(xialaselbghover.jpg) no-repeat; padding-left:6px;
}
div.tag_select_open{
	display:block; width:80px; height:28px; line-height:28px; background:url(xialaselbg.jpg) no-repeat; padding-left:6px;
}
ul.tag_options{
	position:absolute; padding:0px; margin:0px; list-style:none; width:84px; border-right:1px #bebebe solid; border-left:1px #bebebe solid; border-bottom:1px #bebebe solid; background:#f6f6f6;
}
ul.tag_options li{
	display:block; width:86px; height:28px; margin:0px; padding:0px; text-align:center;
}
.examlistbt{
	width:978px; height:40px; background:#f5f5f5; font-size:14px; line-height:40px;
}
.examlistbt td{
	text-align:center;
}
.examlist{
	width:978px; height:auto;
}
.examlist td{
	line-height:42px; border-bottom:1px #b4b4b4 dotted; text-align:center; color:#333; font-size:12px;
}
.examlist td.tdp{
	text-align:left; padding-left:20px; background:url(gif-0163.gif) no-repeat 3px 16px;
}
.examlist tr:hover{
	text-align:left; background:#ffffed;
}
.examlist td.tdp a{
	color:#333; text-decoration:none; font-size:13px;
}
.examlist td.tdp a:hover,.examlist tr:hover a{
	color:#ff6600;
}
.page{
	width:978px; height:30px; line-height:30px; margin:10px 0px 30px 0px; text-align:center;
}
.page a{
	border:#ddd 1px solid; padding:2px 5px; color: #88af3f; margin-right:2px; text-decoration:none;
}
.page a:hover {
	border:#85bd1e 1px solid; color:#638425; background-color:#f1ffd6;
}
.page a:active {
	border:#85bd1e 1px solid; color:#638425; background-color:#f1ffd6;
}
.page span.current {
	border:#b2e05d 1px solid; padding:2px 5px; font-weight:bold; color:#fff; margin-right:2px; background-color:#b2e05d;
}
.page span.disabled {
	border:#f3f3f3 1px solid; padding:2px 5px; color: #ccc; margin-right:2px;
}

/*expliain page*/
.exam_explain{
	width:1000px; height:auto; margin:0px auto; padding:25px 0px 40px 0px; clear:both;
}
.exam_explainleft{
	width:668px; height:auto; border:1px #dbdbdb solid; float:left; background:#fff; padding:15px; margin-bottom:40px;
}
.exam_explainright{
	width:258px; height:auto; border:1px #dbdbdb solid; float:right; background:#fff; padding:10px;
}
.exrtitle{
	width:230px; height:24px; line-height:24px; background:url(icon.png) no-repeat -283px -522px; font-size:14px; padding-left:22px; margin-bottom:5px; margin-left:6px;
}
ul.exrcj,ul.exrzl{
	list-style:none; margin:0px 0px 15px 0px; padding:0px; width:258px;
}
ul.exrcj li{
	width:258px; height:26px; line-height:26px; overflow:hidden; font-size:12px;
}
ul.exrcj li .exrcjlil{
	width:118px; height:26px; float:left; color:#333; padding-left:10px;
}
ul.exrcj li .exrcjlir{
	width:120px; height:26px; float:right; color:#999;
}
ul.exrcj li .exrcjlil img{
	vertical-align:middle; margin-right:10px;
}
.ph{
	color:#fe0000; font-family:Arial; margin-right:10px;
}
ul.exrzl li{
	width:238px; height:26px; line-height:26px; overflow:hidden; font-size:12px; background:url(icon.png) -295px -457px no-repeat; padding-left:12px; margin-left:8px;
}
ul.exrzl li a{
	color:#333; text-decoration:none;
}
ul.exrzl li a:hover{
	color:#F30; text-decoration:underline;
}
h1{
	width:668px; background:url(dottedlinebg.png) repeat-x bottom; text-align:center; font-weight:normal; margin:15px 0px 0px 0px; padding:0px 0px 18px 0px; font-size:24px;
}
.exptitle{
	width:648px; height:32px; line-height:32px; background:url(icon.png) no-repeat -287px -482px; font-size:14px; padding-left:20px; margin:10px 0px 5px 0px;
}
.jieshao{
	width:668px; height:105px; clear:both; overflow:hidden;
}
.jieshao1{
	width:668px; height:70px; clear:both; overflow:hidden;
}
.jieshaoleft{
	width:400px; height:105px; float:left; padding:0px 0px 0px 20px;
}
.jieshaoleft1{
	width:400px; height:70px; float:left; padding:0px 0px 0px 20px;
}
.jieshaoright{
	width:228px; height:80px; float:right; padding:25px 0px 0px 20px;
}
.jieshaoys{
	width:200px; height:35px; float:left; line-height:40px; color:#F30;
}
.zongfen{
	display:block; background:url(icon.png) no-repeat -277px -562px; padding:0px 20px 0px 30px; width:60px; height:35px; color:#666; float:left;
}
.shijian{
	display:block; background:url(icon.png) no-repeat -278px -742px; padding:0px 20px 0px 30px; width:60px; height:35px; color:#666; float:left;
}
.yuejuan{
	display:block; background:url(icon.png) no-repeat -275px -618px; padding:0px 20px 0px 30px; width:60px; height:35px; color:#666; float:left;
}
.jiexi{
	display:block; background:url(icon.png) no-repeat -277px -678px; padding:0px 20px 0px 30px; width:60px; height:35px; color:#666; float:left;
}
.cishu{
	display:block; background:url(icon.png) no-repeat -275px -803px; padding:0px 20px 0px 30px; width:60px; height:35px; color:#666; float:left;
}
.pscore{
	display:block; background:url(score.png) no-repeat 0px 10px; padding:0px 20px 0px 30px; width:60px; height:35px; color:#666; float:left;
}
a.enterkc{
	width:167px; height:49px; display:block; background:url(icon.png) no-repeat 0px -490px;
}
a.enterkc_1{
	width:167px; height:49px; display:block; background:#ccc;color:#000;text-align:center;line-height:48px;text-decoration:none;
}
a.enterkc:hover{
	width:167px; height:49px; display:block; background:url(icon.png) no-repeat 0px -539px;
}
.bidu{
	width:648px; height:auto; padding-left:20px; font-size:12px; line-height:26px; color:#333;
}
.radio{
	width:668px; height:32px; line-height:32px;
}
.radioys{
	margin:0px 5px 0px 20px;
}
.wby{
	width:638px; height:120px; margin:0px; padding:0px 15px;
}
.textwby{
	width:636px; height:118px; border:1px #ddd solid;
}
.tijiao{
	width:638px; height:46px; line-height:46px; background:url(dottedlinebg.png) repeat-x bottom; margin:0px 15px; padding:0px 0px 10px 0px; text-align:right; color:#666;
}
.subm{
	width:73px; height:30px; background:url(icon.png) 0px -459px; cursor:pointer; vertical-align:middle; margin-left:10px;
}
.subm:hover{
	width:73px; height:30px; background:url(icon.png) -73px -459px; cursor:pointer; vertical-align:middle; margin-left:10px;
}
.pinglun{
	width:638px; height:auto; padding:0px 15px;
}
.pingluncon{
	width:638px; height:auto; min-height:74px; background:url(dottedlinebg.png) repeat-x bottom; font-size:12px;
}
.morepinglun{
	width:638px; height:36px; line-height:36px; color:#666; text-align:center; background:#e6e6e6; margin:30px 0px 10px 0px; font-size:12px; cursor:pointer;
}
.morepinglun:hover{
	background:#e1e1e1;
}
.morepinglun a{
	color:#666; text-decoration:none;
}
.morepinglun a:hover{
	color:#333;
}
td.pltx{
	width:66px;
}
.pltx img{
	width:48px; height:48px; padding:12px 18px 14px 0px;
}
.txname{
	color:#0f9500; margin-right:30px;
}
.txpfont{
	color:#666; line-height:20px; padding:0px 0px 10px 0px;
}

	.jiao{
		width:406px; height:350px; margin:0px auto; padding:0px; background:url(jiaojuan.png) no-repeat center bottom; position:absolute; left:35%; top:20%;
	}
	.close{
		width:32px; height:32px; position:relative; top:1px; left:343px; cursor:pointer;
	}
	.gb{
		width:32px; height:32px; border:0px; margin:0px; padding:0px; background:url(close.png) no-repeat; display:block;
	}
	.chengji{
		width:200px; height:60px; font-size:48px; font-family:Arial, Helvetica, sans-serif; font-style:italic; color:#c90101; margin:0px auto; text-align:center; margin:70px auto 33px auto;
	}
	.xiangxi{
		width:91px; height:33px; position:absolute; top:245px; left:159px;
	}
	.xx_but{
		width:91px; height:33px; margin:0px; border:0px; background:url(xqck.png) no-repeat; cursor:pointer; display:block;
	}



	.content{
		width:942px; height:auto; margin:40px auto; padding:0px;
	}
	.content_title{
		width:916px; height:43px; background:#c6eacc; border:1px #a9d3b0 solid; font-size:18px; padding-left:24px; line-height:43px;
	}
	.container{
		width:940px; height:400px; border-left:1px #d2d2d2 solid; border-right:1px #d2d2d2 solid; border-bottom:1px #d2d2d2 solid;
	}
	.tips{
		width:860px; height:auto; padding:20px 40px; color:#dd2f00; font-size:16px; line-height:30px;
	}
	.tips p{
		text-indent:30px; margin:0px; font-size:14px;
	}
	.button{
		width:860px; height:60px; padding:35px 40px 0px 40px;
	}
	.content a{
		display:block; width:132px; height:43px; position:relative;
	}
	a.xzkt{
		top:0px; left:100px; background:url(programbutbg.png) no-repeat 0px 0px; cursor:pointer;
	}
	a.xzkt:hover{
		top:0px; left:100px; background:url(programbutbg.png) no-repeat 0px -43px; cursor:pointer;
	}
	a.noscda{
		top:-43px; left:350px; background:url(programbutbg.png) no-repeat -132px 0px;
	}
	a.nowyj{
		top:-86px; left:600px; background:url(programbutbg.png) no-repeat -264px 0px;
	}
	a.timecode{
		top:0px; left:100px; background:url(programbutbg.png) no-repeat 0px -86px; font-size:24px; color:#FFF; padding-left:52px; padding-top:9px; height:34px; width:80px; font-family:Arial;
	}
	a.answer{
		top:-43px; left:350px; background:url(programbutbg.png) no-repeat -132px -86px; cursor:pointer;
	}
	a.answer:hover{
		top:-43px; left:350px; background:url(programbutbg.png) no-repeat -132px -43px; cursor:pointer;
	}
	a.handin{
		top:-86px; left:600px; background:url(programbutbg.png) no-repeat -264px -86px; cursor:pointer;
	}
	a.handin:hover{
		top:-86px; left:600px; background:url(programbutbg.png) no-repeat -264px -43px; cursor:pointer;
	}
	.loading{
		width:860px; height:3px; padding:0px 40px; margin-top:20px;
	}
	#bar{
		display:block; background:#0099ff; height:3px; text-align:right; color:#0279cb; margin:0px; padding:0px;
	}
	#barNum{
		position:absolute; margin:0px; padding:0px;
	}
	.cancel{
		width:860px; height:20px; line-height:20px; text-align:right; color:#565656; margin:30px 0px 0px 0px; padding:0px 40px; font-size:12px;
	}
	.cancel span{
		cursor:pointer;
	}
	ol{
		margin:0px; padding-left:15px;
	}
	.rtime{
		width:100px; height:43px; line-height:43px; font-weight:bold; color:#3a3a3a; font-family:Arial; display:block; position:relative; top:-43px; left:800px; text-align:right; font-size:18px;
	}
	.content input{
		width:132px; height:43px; position:relative; border:0px; margin:0px; padding:0px;
	}
	input.xzkt{
		top:0px; left:100px; background:url(programbutbg.png) no-repeat 0px 0px; cursor:pointer;
	}
	input.xzkt:hover{
		top:0px; left:100px; background:url(programbutbg.png) no-repeat 0px -43px; cursor:pointer;
	}
	input.noscda{
		top:0px; left:250px; background:url(programbutbg.png) no-repeat -132px 0px;
	}
	input.nowyj{
		top:0px; left:390px; background:url(programbutbg.png) no-repeat -264px 0px;
	}
	input.timecode{
		top:0px; left:100px; background:url(programbutbg.png) no-repeat 0px -86px; font-size:24px; color:#FFF; padding-left:52px; padding-top:9px; height:34px; width:80px; font-family:Arial;
	}
	input.answer{
		top:0px; left:250px; background:url(programbutbg.png) no-repeat -132px -86px; cursor:pointer;
	}
	input.answer:hover{
		top:0px; left:250px; background:url(programbutbg.png) no-repeat -132px -43px; cursor:pointer;
	}
	input.handin{
		top:0px; left:390px; background:url(programbutbg.png) no-repeat -264px -86px; cursor:pointer;
	}
	input.handin:hover{
		top:0px; left:390px; background:url(programbutbg.png) no-repeat -264px -43px; cursor:pointer;
	}
pre {
        white-space: pre-wrap;      
        white-space: -moz-pre-wrap; 
        white-space: -pre-wrap;     
        white-space: -o-pre-wrap;   
        word-wrap: break-word;
          
}

a.greyenterkc{
	width:167px; height:49px; display:block; background:url(icon.png) no-repeat 0px -700px;
}
	